*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
.header{
  width: 100%;
  box-shadow: 0px 2px 10px 0px #CCC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-left{
  width: 49%;
  /* box-shadow: 0px 2px 10px 0px #CCC; */
  display: flex;
}
.header-right{
  width: 45%;
  box-shadow: 0px 2px 10px 0px #CCC;
  background-color: blueviolet;
}
.header-left>div>img{
  width: 250px;
  /* background-color: blue; */
}
.ul-menu{
  display: flex;
}